<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- For .NET Framework 4.7+. Actually it's better not enabling it, because we handle everything, and the DPI enhancements
       in .NET Framework do not work properly, so the standalone app version should be deployed without this section.
       But as devenv.exe.config has this enabled, we must be sure that we can work around every issue where the framework works
       incorrectly, because as a debugger visualizer, we inherit the configuration of the host Visual Studio application. -->
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>

  <appSettings>
    <!--<add key="ResourceRepositoryLocation" value="https://kgysoft.net/res/"/>-->
  </appSettings>
</configuration>